html {
	overflow: auto;
}


/*--------------------------------------
テキスト
---------------------------------------*/

.msr_text_05 {
  padding-bottom: 5px;
  width: 1500px;
}
.msr_text_05 label {
  display: block;
  color: #99FFFF;
  font-weight:  bold;
  font-size: 12px;
}
.msr_text_05 input[type=text] {
  background: #fff;
  border: 1px solid #999999;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 12px;
  padding: 10px;
  height: 40px;
  width: 100px;
}

.msr_text_06 {
  padding-bottom: 5px;
  width: 1500px;
}
.msr_text_06 label {
  display: block;
  color: #FFB000;
  font-weight:  bold;
  font-size: 12px;
}
.msr_text_06 input[type=text] {
  background: #fff;
  border: 1px solid #999999;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 12px;
  padding: 10px;
  height: 40px;
  width: 100px;
}


.msr_text_07 label {
  color: #FFB000;
  font-weight:  bold;
  font-size: 12px;
}

.msr_text_08 label {
  display: block;
  color: #008000;
  font-weight:  bold;
  font-size: 12px;
}
/*--------------------------------------
ラジオボタン
---------------------------------------*/

.msr_radio_05 {
  padding-bottom: 5px;
}
.msr_radio_05 p {
  font-size: 12px;
  padding-bottom: 5px;
}
.msr_radio_05 input[type=radio] {
  font-size: 12px;
  display: none;
  margin: 0;
}
.msr_radio_05 input[type=radio] + label {
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  line-height: 1.5px;
  margin-right: 12px;
  padding: 0 0 0px 24px;
  position: relative;
  color: #99FFFF;
  font-weight:  bold;
}
.msr_radio_05 input[type=radio] + label::before {
  border: 1px solid #777777;
  font-size: 12px;
  border-radius: 50%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  content: "";
  display: block;
  margin-top: -9px;
  position: absolute;
  left: 0;
  top: 50%;
  height: 16px;
  width: 16px;
}
.msr_radio_05 input[type=radio]:checked + label::after {
  background: #FFFFFF;
  font-size: 12px;
  border-radius: 50%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  content: "";
  display: block;
  margin-top: -4px;
  position: absolute;
  left: 4px;
  top: 0;
  height: 8px;
  width: 8px;
}

/*--------------------------------------
チェックボックス
---------------------------------------*/

.msr_chack_05 {
  padding-bottom: 5px;
}
.msr_chack_05 p {
  font-size: 12px;
  padding-bottom: 5px;
}
.msr_chack_05 input[type=checkbox] {
  display: none;
  margin: 0;
}
.msr_chack_05 input[type=checkbox] + label {
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  line-height: 1.5px;
  margin-right: 12px;
  padding: 0 0 0 24px;
  position: relative;
}
.msr_chack_05 input[type=checkbox] + label::before {
  border: 1px solid #999999;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  content: "";
  display: block;
  margin-top: -9px;
  position: absolute;
  left: 0;
  top: 50%;
  height: 16px;
  width: 16px;
}
.msr_chack_05 input[type=checkbox]:checked + label::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  content: "";
  display: block;
  position: absolute;
  top: 50%;
}
.msr_chack_05 input[type=checkbox]:checked + label::after {
  border-bottom: 1px solid #333333;
  border-left: 1px solid #333333;
  left: 3px;
  margin-top: -6px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  height: 6px;
  width: 10px;
}

/*--------------------------------------
プルダウン
---------------------------------------*/

.msr_pulldown_05 {
  padding-bottom: 5px;
  position: relative;
  width: 100px;
  font-size: 12px;
}
.msr_pulldown_05 p {
  font-size: 12px;
  padding-bottom: 5px;
}
.msr_pulldown_05 select {
  font-size: 12px;
  appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  background:#FFFFFF;
  border: 1px solid #999999;
  border-radius: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  cursor: pointer;
  padding: 10px;
  position:relative;
  height: 40px;
  width: 100px;
}
.msr_pulldown_05 label{
  font-size: 12px;
  color: #008000;
  position:relative;
  font-weight:  bold;
}


/*--------------------------------------
ファイル選択
---------------------------------------*/

.msr_file_05 {
  padding-bottom: 5px;
  width: 460px;
}

.msr_file_05 label {
  border: 1px solid #999999;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  cursor: pointer;
  display:block;
  font-size:12px;
  padding: 10px;
  position:relative;
  height: 40px;
  width: 230px;
}
.msr_file_05 label::before {
  content:"＋";
  color:#333333;
  font-size:12px;
  line-height:1;
  margin-top: -9px;
  right:10px;
  position:absolute;
  top:50%;
}
.msr_file_05 input[type=file] {
  display: none;
}


/*--------------------------------------
テキストエリア
---------------------------------------*/

.msr_textarea_05 {
  padding-bottom: 5px;
  width: 460px;
}
.msr_textarea_05 label {
  display: block;
  font-size: 12px;
  padding-bottom: 5px;
}
.msr_textarea_05 textarea {
  border: 1px solid #999999;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 12px;
  padding: 10px;
  height: 210px;
  width: 460px;
}

/*--------------------------------------
ボタン
---------------------------------------*/
.msr_sendbtn_05{
  margin:0 0 10px;
}

.msr_sendbtn_05 input[type=button] {
  background-color: #FFFFFF;
  border:1px solid #999999;
  border-radius: 2px;
  color: #333333;
  cursor:pointer;
  display: block;
  font-size: 12px;
  padding: 14px;
  text-align: center;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  width: 100px;
}
.msr_sendbtn_05 input[type=button]:hover {
  background-color: #999999;
  color: #FFFFFF;
}
.msr_sendbtn_05 input[disabled=button] {
  cursor:default;
  opacity: 0.5;
}
.msr_sendbtn_05 input[disabled=button]:hover {
  background-color: #FFFFFF;
  color: #333333;
}

/*--------------------------------------
背景
---------------------------------------*/
body {
  overflow: auto;
  background-image: url("oichi.png");
  background-size:contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-sizing : border-box;
}
