<!DOCTYPE html>
<html>
<head>
<title>防衛時間計算</title>
    <meta content="text/html charset=utf-8" http-equiv="Content-Type">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="viewport" content="width=320,height=480,initial-scale=1.0,minimum-scale=1.0,maximum-scale=2.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="./houchi.css">
    <script data-ad-client="ca-pub-2475530262277466" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>

<body>
<div class ="background">
<form name="frm1" action="dummy" class="exp01">
<div id ="app">
<div class="msr_text_08">
<label>■Step1.守りたい城を選択してください。</label>
</div>

<div class="msr_radio_05">
<label><b><font color="#FFB000" size="3"> 傾国：</font></b></label>
<input type="radio" name="shiro" id="kei1" checked="checked" value="1" v-model="shiro"> 
<label for="kei1"><font color="red">赤城</font></label>
<input type="radio" name="shiro" id="kei2" value="2" v-model="shiro"> 
<label for="kei2">青城</label>
<input type="radio" name="shiro" id="kei3" value="5" v-model="shiro"> 
<label for="kei3"><font color="#FFD700">金城</font></label>
<br/>
<label><b><font color="#FFB000" size="3"> 群雄：</font></b></label>
<input type="radio" name="shiro" id="gun1" value="3" v-model="shiro"> 
<label for="gun1"><font color="red">赤城</font></label>
<input type="radio" name="shiro" id="gun2" value="4" v-model="shiro"> 
<label for="gun2" >青城</label>
<input type="radio" name="shiro" id="gun3" value="6" v-model="shiro"> 
<label for="gun3" ><font color="#FFD700">金城</font></label>

</div>

  <div class="msr_pulldown_05">
    <label>最低駐屯数</label>
    <select name="num2">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    </select>
    <label>係数</label>
    <select name="num3">
    <option value="1">1.0</option>
    <option value="1.5">1.5</option>
    <option value="2">2.0</option>
    </select>
  </div>
  
<div class="msr_text_05">
<label>■Step2-1.おにぎりの数を入力してください。</label>
</div>
  <div class="msr_text_05">
    <label>おにぎり数</label>
    <input maxlength="4" type="text" name="num1">
  </div>
  
<div class="msr_text_06">
<label>■Step2-2.残り時間を入力してください。</label>
<label>入力例10分15秒→1015</label>
<input maxlength="4" type="text" name="time1">
</div>

<!--
<div class= "msr_sendbtn_05">
<input type="button" value="守備時間計算" onclick="calc_sum();"><br/>
<input type="button" value="おにぎりリセット" onclick="return reset_exe();">
</div>
-->

<div class= "msr_sendbtn_05">
<div class="msr_text_08">
<label>■Step3.ボタンをクリック！</label>
</div>
<input type="button" value="計算" onclick="calc_sum()">
</div>

<!--分表示 -->
<div class="msr_text_05">
<label>■Result1.守れる時間</label>
<input size="6" type="text" name="result1" readonly>
</div>

<!--秒表示-->
<!--
<label>秒表示</label>
<input size="6" type="text" name="result2" readonly>
</div>
-->

<div class="msr_text_06">
<label>■Result2.必要おにぎり数</label>
<input size="6" type="text" name="onigiriCNT" readonly>
</div>

</div>
</form>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="./houchi.js" charset="utf-8"></script>
</div>
</body>
</html>
